@charset "UTF-8";
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes slideup {
  from {
    transform: translateY(30px); }
  from {
    transform: translateY(0px); } }
body {
  padding-top: 55px;
  background-color: #f5f8fa; }

.button {
  border-radius: 5px;
  background-color: #0084b4;
  border-style: none;
  padding: 5px 10px 5px 10px;
  color: #ffffff;
  text-decoration: none !important; }
  .button:hover {
    background-color: #005f81; }
  .button:active {
    background-color: #004c68; }

.b-navbar {
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 2px 1px 2px #e1e8ed;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 0 10% 0 10%;
  display: inline-block;
  font-weight: 400; }
  .b-navbar .left {
    float: left !important; }
  .b-navbar .right {
    float: right !important; }
  .b-navbar .item {
    margin: 10px; }
    .b-navbar .item .link {
      font-size: 20px;
      text-decoration: none !important;
      color: #0084b4; }
    .b-navbar .item .button {
      border-radius: 5px;
      background-color: #0084b4;
      border-style: none;
      padding: 5px 10px 5px 5px;
      color: #ffffff; }
      .b-navbar .item .button:hover {
        background-color: #005f81; }
      .b-navbar .item .button:active {
        background-color: #004c68; }
    .b-navbar .item .image-container {
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 5px; }
      .b-navbar .item .image-container .image {
        width: 100%;
        height: auto; }
    .b-navbar .item .text-input {
      max-width: 250px;
      padding: 2.5px 30px 2.5px 15px;
      color: #8899a6;
      background-color: #ffffff;
      border: 1px solid #e1e8ed;
      border-radius: 50px; }

.b-post {
  border: 1px solid #e1e8ed;
  border-bottom-style: none;
  background-color: #ffffff;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  animation: fadein 0.5s; }
  .b-post .avatar {
    display: inline;
    float: left;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    overflow: hidden; }
    .b-post .avatar .image {
      border-radius: 5px;
      width: 100%;
      height: auto; }
  .b-post .display-name {
    font-size: 14px;
    font-weight: 600;
    color: #292f33; }
  .b-post .user-name {
    font-size: 13px;
    color: #8899a6; }
    .b-post .user-name:before {
      content: " @"; }
  .b-post .time {
    font-size: 13px;
    color: #8899a6; }
    .b-post .time:before {
      content: " · "; }
  .b-post .body {
    word-wrap: break-word;
    margin-left: 60px;
    color: #292f33;
    font-weight: 400;
    font-size: 14px; }
  .b-post .repost-icon {
    color: #00c800; }
  .b-post .repost-display-name {
    color: #8899a6;
    font-size: 14px; }
  .b-post .button {
    display: inline;
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0 20px 0 20px;
    width: 30px;
    height: 30px;
    color: #8899a6; }

.rounded-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.rounded-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-user:before {
  content: "\f007"; }

.icon-list:before {
  content: "\f03a"; }

.icon-help:before {
  content: "\f128"; }

.icon-ad:before {
  content: "\f155"; }

.icon-settings:before {
  content: "\f013"; }

.icon-logout:before {
  content: "\f08b"; }

.icon-home:before {
  content: "\f015"; }

.icon-message:before {
  content: "\f0e0"; }

.icon-notification:before {
  content: "\f0f3"; }

.icon-postdetail:before {
  content: "\f065"; }

.b-table {
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: center; }
  .b-table .col {
    position: relative; }
    .b-table .col .row {
      width: 100%;
      margin: 0px; }
  .b-table .width-1 {
    width: 100px; }
  .b-table .width-2 {
    width: 200px; }
  .b-table .width-3 {
    width: 300px; }
  .b-table .width-4 {
    width: 400px; }
  .b-table .width-5 {
    width: 500px; }
  .b-table .width-6 {
    width: 600px; }
  .b-table .width-7 {
    width: 700px; }
  .b-table .width-8 {
    width: 800px; }
  .b-table .width-9 {
    width: 900px; }
  .b-table .width-10 {
    width: 1000px; }
  .b-table .width-11 {
    width: 1100px; }
  .b-table .width-12 {
    width: 1200px; }

.b-feed-cap {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: #ffffff;
  border-bottom-style: none;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px; }
  .b-feed-cap .text-input {
    width: 90%;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    padding: 5px;
    background-color: #ffffff;
    color: #8899a6;
    text-align: left;
    margin-left: 5px;
    font-weight: 400; }
  .b-feed-cap .avatar {
    border-radius: 5px;
    overflow: hidden;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 5px; }
    .b-feed-cap .avatar .image {
      width: 100%;
      height: auto; }

.b-view-new-posts {
  border: 1px solid #e1e8ed;
  background-color: #ffffff;
  border-bottom-style: none;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  padding: 5px;
  display: block;
  text-decoration: none !important; }
  .b-view-new-posts .body {
    color: #0084b4; }

.hidden {
  display: none; }

.b-load-more-posts {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #e1e8ed;
  background-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
  cursor: pointer;
  line-height: 30px; }
  .b-load-more-posts .body {
    color: #0084b4;
    margin-top: 10px;
    margin-bottom: -6px; }

.feed-special-link {
  text-decoration: none !important; }

.b-profile-small {
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  background-color: #ffffff;
  width: 290px;
  margin: 5px; }
  .b-profile-small .display-name {
    font-size: 18px;
    margin-left: 110px;
    font-weight: 600;
    color: #292f33; }
  .b-profile-small .user-name {
    font-size: 14px;
    margin-left: 110px;
    font-weight: 200;
    color: #8899a6; }
    .b-profile-small .user-name:before {
      content: "@"; }
  .b-profile-small .stats {
    margin-bottom: 5px;
    margin-top: 5px; }
    .b-profile-small .stats:after {
      display: table;
      clear: both;
      content: ""; }
    .b-profile-small .stats .label {
      display: inline;
      float: left;
      font-size: 8pt;
      text-transform: uppercase;
      margin-left: 20px;
      font-weight: 400;
      width: 60px;
      color: #8899a6; }
    .b-profile-small .stats .value {
      font-size: 18px;
      font-weight: 600;
      color: #0084b4; }
  .b-profile-small .banner {
    float: top;
    max-width: 300px;
    height: 100px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .b-profile-small .banner .image {
      width: 100%;
      height: auto; }
  .b-profile-small .avatar {
    float: top;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-left: 20px;
    transform: translateY(-40%);
    position: absolute;
    z-index: 1;
    border-radius: 5px; }
    .b-profile-small .avatar .image {
      width: 100%;
      height: auto; }
  .b-profile-small .bio {
    font-size: 10pt;
    font-weight: 200;
    margin: 10px 20px 10px 20px;
    color: #000000; }

#global-profile-card {
  display: none;
  position: absolute;
  z-index: 2000;
  animation: fadein 0.3s; }

.b-hovercard .hovercard {
  z-index: 100;
  position: absolute;
  display: none; }
.b-hovercard:hover .hovercard {
  display: block;
  animation: fadein 0.3s; }

.like-button-true:before {
  content: "\f004";
  color: #ac2925;
  transition: color 0.2s; }

.like-button-false:before {
  content: "\f004";
  transition: color 0.2s; }

.repost-button-true:before {
  content: "\f079";
  color: #5cb85c;
  transition: color 0.2s; }

.repost-button-false:before {
  content: "\f079";
  transition: color 0.2s; }

.follow-button-false:before {
  content: "Follow"; }

.follow-button-true:before {
  content: "Unfollow"; }

.b-site-info {
  border: solid #e1e8ed 1px;
  border-radius: 5px;
  background-color: #ffffff;
  max-width: 300px;
  color: #8899a6;
  margin: 5px;
  padding: 20px;
  font-size: 12px; }
  .b-site-info .link {
    color: #8899a6; }
  .b-site-info .separator:after {
    content: " · "; }

.b-trends {
  border: solid #e1e8ed 1px;
  border-radius: 5px;
  background-color: #ffffff;
  margin: 5px;
  padding-bottom: 20px; }
  .b-trends .header {
    margin: 20px;
    font-size: 18px; }
  .b-trends .body {
    margin: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #0084b4; }
    .b-trends .body:before {
      content: "#"; }

.b-notification {
  border: 1px solid #e1e8ed;
  border-bottom-style: none;
  background-color: #ffffff;
  padding: 10px;
  float: left;
  width: 100%; }
  .b-notification .unread .new-label {
    float: right;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #c90000;
    color: #ffffff; }
    .b-notification .unread .new-label:before {
      content: "NEW"; }
  .b-notification .avatar {
    float: left;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    overflow: hidden; }
    .b-notification .avatar .image {
      width: 100%;
      height: auto; }
  .b-notification .display-name {
    font-size: 14px;
    font-weight: 600;
    color: #292f33; }
  .b-notification .user-name {
    font-size: 13px;
    color: #8899a6; }
    .b-notification .user-name:before {
      content: "@"; }
  .b-notification .time {
    font-size: 13px;
    color: #8899a6; }
    .b-notification .time:before {
      content: "· "; }
  .b-notification .body {
    color: #292f33;
    font-weight: 400;
    font-size: 14px; }

.b-profile-header .banner {
  float: top;
  width: 100vw;
  height: 400px;
  overflow: hidden;
  margin-top: -5px; }
  .b-profile-header .banner .image {
    width: 100%;
    height: auto; }
.b-profile-header .navbar {
  width: 100vw;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 1px 2px #e1e8ed;
  z-index: 2;
  padding: 0 10% 0 10%;
  font-weight: 400;
  display: block; }
  .b-profile-header .navbar .left {
    float: left !important; }
  .b-profile-header .navbar .right {
    float: right !important; }
  .b-profile-header .navbar .item {
    margin: 10px;
    align-content: center;
    text-align: center; }
    .b-profile-header .navbar .item .link {
      font-size: 20px;
      text-decoration: none !important;
      color: #0084b4; }
    .b-profile-header .navbar .item .stat-button {
      line-height: 1; }
      .b-profile-header .navbar .item .stat-button .label {
        font-size: 10px;
        float: right;
        text-transform: uppercase;
        font-weight: 400;
        width: 60px;
        color: #292f33; }
      .b-profile-header .navbar .item .stat-button .value {
        font-size: 18px;
        font-weight: 600;
        color: #0084b4; }
    .b-profile-header .navbar .item .button {
      border-radius: 5px;
      background-color: #0084b4;
      border-style: none;
      padding: 5px 10px 5px 5px;
      color: #ffffff;
      width: 100px;
      height: 40px; }
      .b-profile-header .navbar .item .button:hover {
        background-color: #005f81; }
      .b-profile-header .navbar .item .button:active {
        background-color: #004c68; }

.b-profile-info .avatar {
  float: top;
  width: 200px;
  height: 200px;
  overflow: hidden;
  transform: translateY(-70%);
  position: absolute;
  z-index: 3;
  border-radius: 5px; }
  .b-profile-info .avatar .image {
    width: 100%;
    height: auto; }
.b-profile-info .info {
  padding: 70px 15px 15px 15px; }
  .b-profile-info .info .display-name {
    font-size: 22px;
    font-weight: 600;
    color: #292f33; }
  .b-profile-info .info .user-name {
    font-size: 18px;
    font-weight: 200;
    color: #8899a6; }
    .b-profile-info .info .user-name:before {
      content: "@"; }
  .b-profile-info .info .bio {
    margin-top: 10px;
    font-size: 10pt;
    font-weight: 200;
    color: #292f33; }

.debuginfo {
  position: fixed;
  bottom: 0;
  right: 0; }
  .debuginfo .icon:hover + .content {
    display: inline-block; }
  .debuginfo .content {
    font-weight: lighter;
    font-size: smaller;
    display: none; }

.b-landing-container {
  width: 800px;
  margin: 0 auto;
  text-align: center; }
  .b-landing-container .button {
    border-radius: 5px;
    background-color: #0084b4;
    border-style: none;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    text-decoration: none !important; }
    .b-landing-container .button:hover {
      background-color: #005f81; }
    .b-landing-container .button:active {
      background-color: #004c68; }

.b-login-container {
  width: 800px;
  margin: 0 auto;
  text-align: center; }
  .b-login-container .form {
    text-align: center;
    margin: 0 auto;
    width: 300px; }
  .b-login-container .button {
    border-radius: 5px;
    background-color: #0084b4;
    border-style: none;
    padding: 10px 10px 10px 10px;
    color: #ffffff;
    text-decoration: none !important; }
    .b-login-container .button:hover {
      background-color: #005f81; }
    .b-login-container .button:active {
      background-color: #004c68; }

.b-signup-container {
  width: 800px;
  margin: 0 auto;
  text-align: center; }
  .b-signup-container .form {
    text-align: center;
    margin: 0 auto;
    width: 300px; }
  .b-signup-container .login-link {
    font-size: small; }

/*# sourceMappingURL=main.css.map */
