.b-feed-cap {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border: $border-size $border-style $col-border;
    background-color: $col-background;
    border-bottom-style: none;
    padding: $padding;
    margin: $margin;
    margin-bottom: 0;

    min-width: 600px; // TODO: fix this

    .text-input {
        width: 92%;
        border-radius: $border-radius;
        border: $border-size $border-style $col-border;
        padding: 0.25rem 1rem 0.25rem 1rem;
        background-color: $col-background;
        color: $col-text-sec;
        text-align: left;
        margin-left: $margin;
        font-weight: normal;
    }

    .avatar {
        border-radius: $border-radius;
        overflow: hidden;
        width: 32px;
        height: 32px;
        float: left;
        margin-right: $margin;

        .image {
            width: 100%;
            height: auto;
        }
    }
}

.b-view-new-posts {
    border: $border-size $border-style $col-border;
    background-color: $col-background;
    border-bottom-style: none;
    margin-left: $margin;
    margin-right: $margin;
    text-align: center;
    padding: $padding;
    display: block;
    text-decoration: none !important;

    .body {
        color: $col-pri;
    }
}

.hidden {
    display: none;
}

.b-load-more-posts {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: $border-size $border-style $col-border;
    background-color: $col-background;
    margin: 0 $margin 50px $margin;
    text-align: center;
    display: block;
    cursor: pointer;

    .body {
        color: $col-pri;
        margin-top: 1rem;
    }
}

.feed-special-link {
    text-decoration: none !important;
}