.b-header {
    min-width: 30rem;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
}

.b-login-container {
    margin: 0 auto;
    text-align: center;

    .form {
        text-align: center;
        margin: 0 auto;
        padding: 0;
        width: 75%;

        ul {
            list-style: none;
            padding: 0;
            margin: auto;
            width: 30%;

            li {
                margin: $margin;

                label {
                    margin: 0;
                    text-align: right;
                    display: inline-block;
                    color: $col-text-pri;
                    width: 30%;
                }

                input {
                    border-radius: $border-radius;
                    border: $border-size $border-style $col-border;
                    padding: 0.3125rem;
                    width: 60%;
                }
            }
        }
    }

    .signup-link {
        font-size: small;
    }
}