.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;

    .caption {

    }

    .modal-dialog {
        width: 600px;
        animation: fadein 0.5s;

        .spacer {
            border-style: none;
            background-color: $col-not-focused;
            padding: $padding;
            margin-left: $margin;
            margin-right: $margin;
        }

        .content {
            border-style: none;
            background-color: $col-not-focused;
            margin-left: $margin;
            margin-right: $margin;
        }

        .focus {
            background-color: $col-background;
        }

        .rounded-top {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        .rounded-bottom {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
        }
    }
}

#modal-viewpost-replybox {
    border: $border-size $border-style $col-border;
    margin-top: -1px;
    margin-bottom: -1px;

    #viewpost-reply-form {
        margin: 0.4rem;
        display: flex;

        .image-container {
            margin: $margin;
            width: 2rem;
            height: 2rem;
            overflow: hidden;
            border-radius: $border-radius;

            img {
                width: 100%;
                height: auto;
                border-radius: $border-radius;
            }
        }

        button {
            margin: $margin;
        }
    }
}

#modal-viewpost-bottom-cap, #modal-viewpost-top-cap {
    border: $border-size $border-style $col-border;
}