.b-notification {
    border: $border-size $border-style $col-border;
    border-bottom-style: none;
    background-color: $col-background;
    padding: 1rem;
    float: left;
    max-width: 50rem;
    width: 35rem;

    .unread {
        .new-label {
            float: right;
            border-radius: 1000rem;
            padding-left: 1rem;
            padding-right: 1rem;
            background-color: #c90000;
            color: #ffffff;

            &:before {
                content: "NEW";
            }
        }
    }

    .avatar {
        float: left;
        border-radius: $border-radius;
        width: 2rem;
        height: 2rem;
        margin-right: 0.5rem;
        overflow: hidden;
        .image {
            width: 100%;
            height: auto;
        }
    }

    .display-name {
        font-size: 0.9rem;
        font-weight: $font-bold;
        color: $col-text-pri;
    }

    .time {
        font-size: 0.8rem;
        color: $col-text-sec;
        &:before {
            content: "· ";
        }
    }

    .body {
        color: $col-text-pri;
        font-weight: $font-regular;
        font-size: 0.9rem;
    }

    .message {
        margin-left: 2.5rem;
        font-size: 0.9rem;
    }
}
