.post {
    border: none;
    padding: $padding;
    animation: fadein 0.5s;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: $col-body-background;
    }

    .avatar-container {
        display: inline;
        float: left;
        border-radius: $border-radius;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        overflow: hidden;

        .image {
            border-radius: $border-radius;
            width: 100%;
            width: 3rem;
            height: 3rem;
            height: auto;
        }
    }

    .display-name {
        font-size: 0.875rem;
        font-weight: $font-bold;
        color: $col-text-pri;
    }

    .username {
        font-size: 0.9rem;
        color: $col-text-sec;

        &:before {
            content: " @";
        }
    }

    .time {
        font-size: 0.9rem;
        color: $col-text-sec;
    }

    .body {
        word-wrap: break-word;
        margin-left: 4rem;
        color: $col-text-pri;
        font-weight: normal;
        font-size: 0.9rem;
    }

    .actions {
        margin-left: 4rem;

        .action-container {
            display: inline-block;
            width: 5rem;

            .action-button {
                cursor: pointer;
                display: inline;
                background-color: transparent;
                padding: 0;
                font-size: 1rem;
                color: $col-text-sec;
            }

            .reply:before {
                content: "\f112";
            }

            .action-count {
                font-weight: $font-bold;
                font-size: 0.7rem;
                color: $col-text-sec;

                &:before {
                    content: " ";
                }
            }

            .like-true:before {
                content: "\f004";
                color: #ac2925;
                transition: color 0.2s;
            }

            .like-false:before {
                content: "\f004";
                transition: color 0.2s;
            }

            .repost-true:before {
                content: "\f079";
                color: #5cb85c;
                transition: color 0.2s;
            }

            .repost-false:before {
                content: "\f079";
                transition: color 0.2s;
            }
        }
    }
}

#posts {
    .post {
        border: $border-size $border-style $col-border;
        border-bottom-style: none;
        margin-left: $margin;
        margin-right: $margin;
        background-color: $col-background;
    }
}