.b-profile-small {
    border: $border-size $border-style $col-border;
    border-radius: $border-radius;
    background-color: $col-background;
    width: 18.4375rem;
    margin: $margin;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;

    .display-name {
        font-size: 0.875rem;
        margin-left: 5.75rem;
        font-weight: bold;
        color: $col-text-pri;
    }

    .username {
        font-size: 0.75rem;
        margin-left: 5.75rem;
        font-weight: normal;
        color: $col-text-sec;

        &:before {
            content: "@";
        }
    }

    .stats {
        margin-bottom: $margin;
        margin-top: $margin;
        margin-left: 0;

        &:after {
            display: table;
            clear: both;
            content: "";
        }

        .label {
            display: inline;
            float: left;
            margin: 0;
            width: 33%;
            font-size: 0.5rem;
            text-transform: uppercase;
            font-weight: normal;
            color: $col-text-sec;
        }

        .value {
            font-size: 1.25rem;
            font-weight: bold;
            color: $col-pri;
        }
    }

    .banner {
        float: top;
        max-width: 18.75rem;
        height: 6.25rem;
        overflow: hidden;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        .image {
            width: 100%;
            height: auto;
        }
    }

    .avatar {
        float: top;
        width: 4.5rem;
        height: 4.5rem;
        overflow: hidden;
        margin-left: 0.625rem;
        transform: translateY(-50%);
        position: absolute;
        z-index: 1;
        border-radius: $border-radius;
        border: $border-avatar-size * 0.55 $border-style $col-background;

        .image {
            width: 100%;
            height: auto;
        }
    }

    .bio {
        line-height: 1.5;
        margin: 0.625rem;
        font-size: 0.75rem;
        font-weight: normal;
        color: $col-text-pri;
    }
}
