.b-profile-header {
    .banner {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 60vh;
        overflow: hidden;
        margin-top: -3.5rem;

        .image {
            width: 100%;
            height: auto;
        }
    }

    .navbar {
        width: 100vw;
        height: 3.5rem;
        background-color: $col-background;
        box-shadow: 2px 1px 2px $col-border;
        z-index: 2;
        padding: 0 10% 0 10%;
        font-weight: normal;
        display: block;

        .left {
            float: left !important;
        }

        .right {
            float: right !important;
        }

        .item {
            height: 100%;
            align-content: center;
            text-align: center;

            .follow-button-false {
                width: 7rem;
                height: 2.5rem;
                margin: 0.5rem;

                &::before {
                    content: 'Follow';
                }
            }

            .follow-button-true {
                width: 7rem;
                height: 2.5rem;
                margin: 0.5rem;

                &::before {
                    content: 'Following';
                }

                &:hover {
                    background-color: darkred !important;

                    &::before {
                        content: 'Unfollow';
                    }
                }
            }

            .more-options-button {
                width:2rem;
                height: 2rem;
                margin: 0.75rem;
                display: flex;
                border: none;
                background-color: transparent;
                text-align: center;
            }

            .link {
                font-size: 1rem;
                text-decoration: none !important;
                color: $col-pri;
            }

            .stat-button {
                line-height: 1;
                height: 100%;
                padding-top: 0.5rem;

                &:hover {
                    background-color: $col-body-background;
                    transition: background-color 0.3s;
                }

                .label {
                    font-size: 0.6rem;
                    text-transform: uppercase;
                    font-weight: normal;
                    width: 5rem;
                    color: $col-text-sec;
                }

                .value {
                    font-size: 1.1rem;
                    font-weight: $font-bold;
                    color: $col-pri;
                }
            }
        }
    }
}

.b-profile-info {
    width: 19rem;

    .avatar {
        border: $border-avatar-size $border-style $col-background;
        box-shadow: 1px 1px 1px #cdcdcd;
        border-radius: $border-avatar-radius;
        float: top;
        width: 13rem;
        height: 13rem;
        overflow: hidden;
        transform: translateY(-70%);
        position: absolute;
        z-index: 3;

        .image {
            width: 100%;
            height: auto;
        }
    }

    .info {
        padding: 4.3rem 1rem 1rem 0;

        .display-name {
            overflow: auto;
            font-size: 1.2rem;
            font-weight: 600;
            color: $col-text-pri;
        }

        .username {
            font-size: 0.9rem;
            font-weight: normal;
            color: $col-text-sec;

            &:before {
                content: "@";
            }
        }

        .bio {
            margin-top: 0.5rem;
            font-size: 0.875rem;
            color: $col-text-pri;
        }
    }
}