.b-settings-container {
    .menu {
        margin: 5px;

        .active li {
            background-color: darken($col-background, 2.5%);
        }

        a {
            color: $col-pri;
            text-decoration: none !important;

            &:visited {
                color: $col-pri;
            }

            &:hover {
                color: darken($col-pri, 10%);
            }
        }

        ul {
            list-style: none;
            margin: 0px;
            padding: 0px;
            text-align: left;
            border-radius: 5px;
            border: 1px solid $col-border;
            background-color: $col-background;

            li {
                padding: 10px;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                border-bottom: 1px solid $col-border;
                background-color: $col-background;
            }
        }
    }

    .content {
        margin: 5px;
        text-align: center;

        .form {

            label[for="id_new_password2"] {
                transform: translate(0px, 10px);
            }

            span[class="helptext"] {
                display: none;
            }

            .errorlist {
                display: block;
                color: darkred;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            img {
                border-radius: 5px;
                border: 1px solid $col-border;
                max-width: 40px;
                max-height: 40px;
            }

            label {
                width: 120px;
                color: $col-text-pri;
                margin-right: 10px;
                text-align: right;
                margin-top: 10px;
            }

            label[class="file"] {
                border-radius: 5px;
                padding: 5px;
                width: 205px;
                max-width: 70%;
                text-align: left;
                margin: 0;
                vertical-align: middle;

                input[type="file"] {
                    display: none;
                }
            }

            .notifications-pane label {
                text-align: left !important;
                width: 200px !important;
            }

            input {
                border-radius: 5px;
                border: 1px solid $col-border;
                padding: 5px;
                width: 250px;
            }

            input[type="checkbox"] {
                width: auto;
            }
        }
    }

    .header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid $col-border;
        background-color: $col-background;
    }

    .body {
        border: 1px solid $col-border;
        border-top: none;
        border-bottom: none;
        background-color: $col-background;
        padding: 10px;
    }

    .footer {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid $col-border;
        background-color: $col-background;
        min-height: 50px;
        padding: 10px;
    }

    h1 {
        margin: 5px;
        color: $col-pri;
    }

    #success-text {
        color: $col-text-pri;
        margin-bottom: 100px;
        margin-top: 100px;
    }
}