.b-settings-container {
    .menu {
        margin: $margin;
        width: 18.75rem;

        .active li {
            background-color: darken($col-background, 2.5%);
        }

        a {
            color: $col-pri;
            text-decoration: none !important;

            &:visited {
                color: $col-pri;
            }

            &:hover {
                color: darken($col-pri, 10%);
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: left;
            border-radius: $border-radius;
            border: $border-size $border-style $col-border;
            background-color: $col-background;

            li {
                padding: 0.625rem;
                border-top-right-radius: $border-radius;
                border-top-left-radius: $border-radius;
                border-bottom: $border-size $border-style $col-border;
                background-color: $col-background;
            }
        }
    }

    .content {
        margin: $margin;
        text-align: center;
        width: 37.5rem;

        .form {

            label[for="id_new_password2"] {
                transform: translate(0, 0.625rem);
            }

            span[class="helptext"] {
                display: none;
            }

            .errorlist {
                display: block;
                color: $col-text-error;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

            img {
                border-radius: $border-radius;
                border: $border-size $border-style $col-border;
                max-width: 2.5rem;
                max-height: 2.5rem;
            }

            label {
                width: 7.5rem;
                color: $col-text-pri;
                margin-right: 0.625rem;
                text-align: right;
                margin-top: 0.625rem;
            }

            label[class="file"] {
                border-radius: $border-radius;
                padding: 0.625rem;
                width: 12.8125rem;
                height: 2.5rem;
                max-width: 70%;
                text-align: left;
                margin: 0;
                vertical-align: middle;

                input[type="file"] {
                    display: none;
                }
            }

            #notifications-pane {

                label {
                    width: 50%
                }

                input {
                    width: 30%;
                }
            }

            input {
                border-radius: $border-radius;
                border: $border-size $border-style $col-border;
                padding: 0.4375rem 0.625rem 0.4375rem 0.625rem;
                width: 15.625rem;
            }

            input[type="checkbox"] {
                width: auto;
            }
        }
    }

    .header {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border: $border-size $border-style $col-border;
        background-color: $col-background;
    }

    .body {
        border: $border-size $border-style $col-border;
        border-top: none;
        border-bottom: none;
        background-color: $col-background;
        padding: 0.625rem
    }

    .footer {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        border: $border-size $border-style $col-border;
        background-color: $col-background;
        min-height: 3.125rem;
        padding: 0.625rem;
    }

    h1 {
        margin: 0.3125rem;
        color: $col-pri;
    }

    #success-text {
        color: $col-text-pri;
        margin-bottom: 6.25rem;
        margin-top: 6.25rem;
    }
}