.b-site-info {
    border: $border-size $border-style $col-border;
    border-radius: $border-radius;
    background-color: $col-background;
    max-width: 18.75rem;
    color: $col-text-sec;
    margin: $margin;
    padding: 1.25rem;
    font-size: 0.75rem;

    .link {
        color: $col-text-sec;
    }

    .separator {
        &:after {
            content: " · ";
        }
    }
}
