.b-table {
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    .col {
        position: relative;
        .row {
            width: 100%;
            margin: 0;
        }
    }

    .width-1 {
        width: 1/12%;
    }

    .width-2 {
        width: 2/12%;
    }

    .width-3 {
        width: 3/12%;
    }

    .width-4 {
        width: 4/12%;
    }

    .width-5 {
        width: 5/12%;
    }

    .width-6 {
        width: 6/12%;
    }

    .width-7 {
        width: 7/12%;
    }

    .width-8 {
        width: 8/12%;
    }

    .width-9 {
        width: 9/12%;
    }

    .width-10 {
        width: 10/12%;
    }

    .width-11 {
        width: 11/12%;
    }

    .width-12 {
        width: 12/12%;
    }
}
