$col-pri: #0084b4;
$col-background: #ffffff;
$col-border: #e1e8ed;
$col-text-pri: #292f33;
$col-text-sec: #8899a6;

$font-light: 100;
$font-regular: 400;
$font-bold: 600;

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideup {
    from { transform: translateY(30px); }
    from { transform: translateY(0px); }
}

body {
    padding-top: 55px;
    background-color: #f5f8fa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #373a3c;
    font-size: 1rem;
}

.button {
    border-radius: 5px;
    background-color: $col-pri;
    border-style: none;
    padding: 5px 10px 5px 10px;
    color: $col-background;
    text-decoration: none !important;
    &:hover {
        background-color: darken($col-pri, 10%);
    }
    &:active {
        background-color: darken($col-pri, 15%);
    }
}

@import "_navbar";
@import "_post";
@import "_icons";
@import "_table";
@import "_feed";
@import "_profile-small";
@import "_hovercard";
@import "_buttons";
@import "_site-info";
@import "_trends";
@import "_notification";
@import "_profile-full";
@import "_debuginfo";
@import "_landing";
@import "_login";
@import "_signup";
@import "_settings";
