{% load staticfiles %}
{% load tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Tim Ings <timothyjings@gmail.com>">

    <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <!--<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">-->
    <link href="{% static "css/gabr.css" %}" rel="stylesheet">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!--<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>-->
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/tether.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/gabr.js" %}"></script>

    <!-- Extended header -->
    {% block header %} {% endblock %}
</head>

<!--<body background="{% static "img/backgrounds/diagmonds.png" %}">-->

<!-- Navigation -->
<nav class="b-navbar">
    <div class="item-container">
        <!-- Left nav -->
        <div class="item left">
            <a class="link" href="/">
                <span class="icon icon-home"></span>
                Home
            </a>
        </div>
        {% if user.is_authenticated %}
            <div class="item left">
                <a class="link" href="{% url "messages" %}">
                    <span class="icon icon-message"></span>
                    Messages
                </a>
            </div>

            <div class="item left">
                <a class="link" href="{% url "notifications" %}">
                    <span class="icon icon-notification"></span>
                    <span id="nav-notifications" class="label label-pill label-danger"></span>
                    Notifications
                </a>
            </div>

            <!-- Right nav -->
            <div class="item right">
                <button class="button" onclick="postTo()">
                    <span class="icon icon-post"></span>
                    New Post
                </button>
            </div>

            <!-- User dropdown -->
            <div class="item right">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown">
                        <div class="image-container">
                            <img class="image" src="{{ current_user.avatar.url }}" />
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right fade-in">
                        <a class="dropdown-item" href="{% url "profile" user_name=user.username %}">
                            <span class="icon icon-user"></span>
                            View profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "profile_lists" user_name=user.username %}">
                            <span class="icon icon-list"></span>
                            Lists
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "help" %}">
                            <span class="icon icon-help"></span>
                            Help
                        </a>
                        <a class="dropdown-item" href="{% url "advertising" %}">
                            <span class="icon icon-ad"></span>
                            Advertising
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url "settings" %}">
                            <span class="icon icon-settings"></span>
                            Settings
                        </a>
                        <a class="dropdown-item" href="{% url "logout" %}">
                            <span class="icon icon-logout"></span>
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if not user.is_authenticated %}
            <div class="item right">
                <form action="{% url "login" %}" style="display: inline">
                    <button class="button" type="submit">
                        <span class="icon icon-post"></span>
                        Log in
                    </button>
                </form>
                <form action="{% url "signup" %}" style="display: inline">
                    <button class="button" type="submit">
                        <span class="icon icon-post"></span>
                        Sign up
                    </button>
                </form>
            </div>
        {% endif %}
        <!-- Search box -->
        <div class="item right">
            <input class="text-input" type="text" placeholder="Search">
        </div>
    </div>
</nav>

<!-- Universal new post modal -->
{% if user.is_authenticated %}
    <div class="modal fade" id="new-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel4">Compose Post</h4>
                </div>
                <div class="modal-footer">
                    <form id="post-form" class="form-horizontal col-md-4" action="{% url "new-post" %}" method="post">{% csrf_token %}
                        {{ post_form.body }}
                        {{ post_form.parent }}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="button" data-dismiss="modal">Close</button>
                    <button type="submit" form="post-form" class="button">Post</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Universal view post modal -->
<div class="modal fade" id="modal-viewpost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
    <input type="hidden" id="modal-viewpost-username">
    <div class="modal-dialog" role="document">
        <input id="modal-viewpost-postid" type="hidden" />
        <div class="b-post rounded-top">
            <button id="view-post-close" type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <a id="modal-viewpost-postuser-link" href="#">
                <div class="avatar">
                    <img id="modal-viewpost-postuser-avatar" class="image" src="" />
                </div>
                <span id="modal-viewpost-postuser-displayname" class="display-name"></span>
            </a>
            <span id="modal-viewpost-postuser-username" class="username" ></span>
            <span id="modal-viewpost-post-time" class="time"></span>
            <script>
                $("#modal-viewpost-postuser-link").mouseenter(function () {
                    var left = $(this).position().left;
                    var top = $(this).position().top;
                    viewProfileCard($("#modal-viewpost-username").val(), top, left);
                });
                $("#modal-viewpost-postuser-link").mouseout(function() {
                    hideProfileCard();
                });
            </script>
            <p id="modal-viewpost-post-body" class="body"></p>
            <div class="post-action-button-container">
                <button onclick="onLikeButton(-1)" class="post-action-button" id="like-button" name="like-button" type="button">
                    <span id="modal-viewpost-like" class="icon like-button-false"></span>
                </button>
                <button onclick="onRepostButton(-1)" class="post-action-button" id="repost-button" name="repost-button" type="button">
                    <span id="modal-viewpost-repost" class="icon repost-button-false"></span>
                </button>
            </div>
            <div id="modal-viewpost-replies">
            </div>
        </div>
        <div class="b-post rounded-bottom" style="height: 2rem;">
        </div>
    </div>
</div>

<div class="b-profile-small" id="global-profile-card">
    <div class="banner">
        <img class="image" id="profile-card-banner" src="" />
    </div>
    <div>
        <a id="profile-card-profile-link" href="#">
            <div class="avatar">
                <img class="image" id="profile-card-avatar" src="" />
            </div>
            <span class="display-name" id="profile-card-display-name"></span><br>
            <span class="username" id="profile-card-user-name"></span>
        </a>

        <div class="bio" id="profile-card-bio"></div>

        <div class="stats">
            <a id="profile-card-profile-link-posts" href="#">
                <div class="label">
                    posts<br>
                    <span class="value" id="profile-card-profile-post-count"></span>
                </div>
            </a>
            <a id="profile-card-profile-link-following" href="#">
                <div class="label">
                    following<br>
                    <span class="value" id="profile-card-profile-following-count"></span>
                </div>
            </a>
            <a id="profile-card-profile-link-followers" href="#">
                <div class="label">
                    followers<br>
                    <span class="value" id="profile-card-profile-follower-count"></span>
                </div>
            </a>
        </div>
    </div>
</div>

{% block content %} {% endblock %}

<div class="debuginfo">
    <span class="icon">π</span>
    <span class="content">
        {{ debug_info }}
    </span>
</div>
</body>
</html>
