{% load tags %}

<div class="b-post">
    {% if post_info.0 %}
        <a id="repost-{{ post_info.2.id }}-user-{{ post_info.1.user.username }}" href="{% url "profile" user_name=post_info.1.user.username %}">
            <span class="icon repost-icon"></span>
            <span class="display-name">{{ post_info.1.display_name }} Reposted</span>
        </a>
        <script>
            registerHoverCard("#repost-{{ post_info.2.id }}-user-{{ post_info.1.user.username }}", "{{ post_info.1.user.username }}");
        </script>
        <br>
    {% endif %}
    <a id="post-{{ post_info.2.id }}-user-{{ post_info.2.user.user.username }}" href="{% url "profile" user_name=post_info.2.user.user.username %}">
        <div class="avatar">
            <img class="image" src="{{ post_info.2.user.avatar.url }}" />
        </div>
        <span class="display-name">{{ post_info.2.user.display_name }}</span>
    </a>
    <span class="user-name">{{ post_info.2.user.user.username }}</span>
    <span class="time">{{ post_info.2.time }}</span>
    <script>
        registerHoverCard("#post-{{ post_info.2.id }}-user-{{ post_info.2.user.user.username }}", "{{ post_info.2.user.user.username }}");
    </script>
    <p class="body">{{ post_info.2.body }}</p>
    <button onclick="onLikeButton({{ post_info.2.id }})" class="button" id="like-button" name="like-button" type="button">
        {% has_liked user post_info.2 as var_has_liked %}
        {% if var_has_liked %}
            <span id="like-{{ post_info.2.id }}" class="icon like-button-true"></span>
        {% else %}
            <span id="like-{{ post_info.2.id }}" class="icon like-button-false"></span>
        {% endif %}
    </button>
    <button onclick="onRepostButton({{ post_info.2.id }})" class="button" id="repost-button" name="repost-button" type="button">
        {% has_reposted user post_info.2 as var_has_reposted %}
        {% if var_has_reposted %}
            <span id="repost-{{ post_info.2.id }}" class="icon repost-button-true"></span>
        {% else %}
            <span id="repost-{{ post_info.2.id }}" class="icon repost-button-false"></span>
        {% endif %}
    </button>
    <button class="button" onclick="viewPost({{ post_info.2.id }});">
        <span class="icon icon-postdetail"></span>
    </button>
</div>
