{% load tags %}

<div class="b-profile-small">
    <div class="banner">
        <img class="image" src="{{ card_user.banner.url }}" />
    </div>
    <div>
        <a id="card-profile-small-{{ card_user.username }}" href="{% url "profile" username=card_user.username %}">
            <div class="avatar">
                <img class="image" src="{{ card_user.avatar.url }}" />
            </div>
            <span class="display-name">{{ card_user.display_name }}</span><br>
            <span class="username">{{ card_user.username }}</span>
            {% if card_user != current_user %}
                <div class="dropdown">
                    <button class="more-options-button" data-toggle="dropdown">
                        <span class="icon icon-settings"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right fade-in">
                        <a class="dropdown-item" onclick="onBlockButton({{ target_user.username }})">
                            <span class="icon icon-block"></span>
                            Block
                        </a>
                        <a class="dropdown-item" href="{% url "profile_lists" username=user.username %}">
                            <span class="icon icon-report"></span>
                            Report
                        </a>
                    </div>
                </div>
            {% endif %}
        </a>

        <div class="bio">{{ card_user.bio }}</div>

        <div class="stats">
            <a href="{% url "profile" username=card_user.username %}">
                <div class="label">
                    posts<br>
                    <span class="value">
                        {{ card_user_post_count }}
                    </span>
                </div>
            </a>
            <a href="{% url "profile_following" username=card_user.username %}">
                <div class="label">
                    following<br>
                    <span class="value">
                        {{ card_user_follow_count }}
                    </span>
                </div>
            </a>
            <a href="{% url "profile_followers" username=card_user.username %}">
                <div class="label">
                    followers<br>
                    <span class="value">
                        {{ card_user_follower_count }}
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
