{% load user_tags %}

<div class="b-site-info">
    <span>© 2016 Timothy Ings</span><span class="separator"></span>
    <a class="link" href="/info/about">About</a><span class="separator"></span>
    <a class="link" href="/info/help">Help</a><span class="separator"></span>
    <a class="link" href="/info/tos">Terms</a><span class="separator"></span>
    <a class="link" href="/info/privacy">Privacy</a><span class="separator"></span>
    <a class="link" href="/info/cookies">Cookies</a><span class="separator"></span>
    <a class="link" href="/info/ads">Ads Info</a><span class="separator"></span>
    <a class="link" href="/info/brand">Brand</a><span class="separator"></span>
    <a class="link" href="/info/blog">Blog</a><span class="separator"></span>
    <a class="link" href="/info/status">Status</a><span class="separator"></span>
    <a class="link" href="/info/apps">Apps</a><span class="separator"></span>
    <a class="link" href="/info/jobs">Jobs</a><span class="separator"></span>
    <a class="link" href="/info/businesses">Businesses</a><span class="separator"></span>
    <a class="link" href="/info/media">Media</a><span class="separator"></span>
    <a class="link" href="/info/developers">Developers</a>
</div>