{% extends 'base.html' %}
{% load tags %}
{% load staticfiles %}

{% block header %}
    <title>Feed | Gabr</title>
    <script>
        loadPosts("feed", 50);
        window.setInterval(function(){
            checkNewPosts();
        }, 60000);
    </script>
{% endblock %}

{% block content %}
    <div class="b-table">
        <div class="col with-3">
            <div class="row">
                {% with current_user as card_user %}
                {% with current_user_post_count as card_user_post_count %}
                {% with current_user_follow_count as card_user_follow_count %}
                {% with current_user_follower_count as card_user_follower_count %}
                    {% include "card-profile-small.html" %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
            </div>
            <div class="row">
                {% include "card-trends.html" %}
            </div>
        </div>
        <div class="col width-6">
            <div class="row">
                <div class="b-feed-cap">
                    <div class="avatar">
                        <img class="image" src="{{ current_user.avatar.url }}">
                    </div>
                    <input class="text-input" type="button" value="What's happening?" onclick="postTo();">
                </div>
            </div>
            <div class="row">
                <a class="feed-action-button" href="/">
                    <div id="view-new-posts" class="b-view-new-posts hidden">
                        <div class="body">
                            <p>View x new posts</p>
                        </div>
                    </div>
                </a>
            </div>
            <div id="posts">
            </div>
            <div class="row">
                <a class="feed-action-button" onclick="loadOlderPosts('feed', '')">
                    <div id="load-more-posts" class="b-load-more-posts">
                        <div class="body">
                            <p>Load more</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col width-3">
            {% include "card-site-info.html" %}
        </div>
    </div>
{% endblock %}