{% extends 'profile-base.html' %}
{% load tags %}

{% block profile_header %}
    <title>{{ target_user.display_name }} (@{{ target_user.user.username }}) | Gab</title>
    <script>
        loadPosts("profile", 50, "{{ target_user.user.username }}");
    </script>
{% endblock %}

{% block profile_content %}
    <div class="col width-6">
        <div class="row">
            <div class="b-feed-cap">
                <div class="body">
                    <p>Posts | Posts & replies | Media</p>
                </div>
            </div>
        </div>
        <div id="posts">
        </div>
        <div class="row">
            <a class="feed-special-link" onclick="loadOlderPosts('profile', '{{ target_user.user.username }}')">
                <div id="load-more-posts" class="b-load-more-posts">
                    <div class="body">
                        <p>Load more</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}