{% extends 'settings-base.html' %}
{% load tags %}
{% block settings-content %}
    <div class="header">
        <h1>Notifications</h1>
        <script>
            $(document).ready(function() {
                $("#s-notifications").addClass("active");
            });
        </script>
    </div>
    <div class="body">
        <form class="form" id="form" method="POST" action="{% url "settings_notifications" %}">{% csrf_token %}
            <div id="notifications-pane">
                <ul>
                    {{ form.as_ul }}
                </ul>
            </div>
        </form>
    </div>
    <div class="footer">
        <button form="form" type="submit" class="button">Save changes</button>
    </div>
{% endblock %}