{% extends 'settings-base.html' %}
{% load tags %}
{% block settings-content %}
    <div class="header">
        <h1>Password</h1>
        <script>
            $(document).ready(function() {
                $("#s-password").addClass("active");
            });
        </script>
    </div>
    <div class="body">
        {% if state_success %}
            <h4>Success!</h4>
            <form class="form">
                <ul>
                    <li>
                        <label>Old password:</label>
                        <input disabled type="password">
                    </li>
                    <li>
                        <label>New password:</label>
                        <input disabled type="password">
                    </li>
                    <li>
                        <label>New password confirmation:</label>
                        <input disabled type="password">
                    </li>
                </ul>
            </form>
        {% else %}
            <form class="form" id="form" method="POST" action="{% url "settings_password" %}" enctype="multipart/form-data">{% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>
            </form>
        {% endif %}
    </div>
    <div class="footer">
        <button form="form" type="submit" class="button" {% if state_success %}disabled{% endif %}>Save changes</button>
    </div>
{% endblock %}